<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @produto.nome %>
</p>

<p>
  <b>Preco:</b>
  <%= @produto.preco %>
</p>

<p>
  <b>Descricao:</b>
  <%= @produto.descricao %>
</p>


<%= link_to 'Edit', edit_produto_path(@produto) %> |
<%= link_to 'Back', produtos_path %>
